<%= image_tag("SF-Logo.jpg", :alt => "StichFix logo") %>
<div class = "jumbotron">
  <h1>Stitch Fix Clearance Tool</h1>
  <p>Welcome to the Stitch Fix Clearance Tool. To set items to clearance, visit <%= link_to ' Clearance Batch', '/clearance_batches' %>. To browse the items in the inventory, visit the <%= link_to 'Item List', '/items' %>.
  </p>
</div>